body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.main {
  display: grid;
  /*grid-template-rows: 10% 85% 5%;*/
  height: 100vh;
  position: relative;
}
.header{
  height: 90px;
  background-color: #000000;
}
.global-name{
  font-size: 12px;
}
.content{
  height: calc(100vh - 150px);
  overflow-y: auto;
}
.footer{
  height: 40px;
  background-color: #000000 !important;
}
a, a:hover {
  color: #000000;
  text-decoration: none;
}
/* nabar */
.navbar{
  background-color: #000000 !important;
  color: white;
}
/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.footer b{
  font-size: .8rem;
}
/* navigation drawer */
.drawer{
  transform: translateX(-30rem);
  width: 250px;
  background-color: #FFFFFF;
  position: absolute;
  height: 100vh;
  box-shadow: 4px 0 16px -10px rgb(109, 109, 109);
  z-index: 1;
}
.drawer.open {
  transform: translateX(0);
  transition: ease-out 0.6s;
}
.drawer.close{
  transform: translateX(-30rem);
  transition: ease-out 0.6s; 
}
.drawer-open,
.drawer-close {
  cursor: pointer;
  font-size: 1.5rem;
}
.drawer-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 91px;
  border-bottom: 2px solid #CCC;
  padding-bottom: 10px;
  background-color: #000000;
}
.drawer-item{
  height: 3rem;
  background-color: #F8F8F8;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}
.drawer-item.open{
  background-color: #CCCCCC;
}
.drawer-item div>span {
  margin-right: 10px;  
}
.drawer-item span:nth-child(1) {
  cursor: pointer;
}
/* authenticacion */
.logotype-create-account{
  width: 100px;
}
/* products */
.products-details-image{
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 0 10px -3px #e0dfdf;
}
.products-section-1{
  height: 100vh;
  overflow: auto;
}
.products-section-2 {
  background-color: #fcfcfc;
}
@media (max-width: 800px) {
  .products-section-1,
  .products-section-2 {
    width: 100% !important;
  }
}
.product-list-item{
  margin-bottom: 4px;
  background-color: #F8F8F8;
  border-radius: 6px;
  cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.product-list-item:hover{
  background-color: #e6e6e6;
}
.yes-visited{
  display: none;
}
.not-visited{
  display: block;
  color: white;
  background-color: #29d45d;
  font-weight: bold;
  padding: 5px 10px;
  width: fit-content;
  border-radius: 6px;
}
.btn-new{
  background-color: #29d45d;
  color: white;
}
/* shop account */
.list-menu-account-shop{
  padding: 0;
  list-style: none;
}
.list-menu-account-shop li{
  margin-bottom: 10px;
  background-color: #F8F8F8;
  padding:10px;
  font-weight: bold;
  border-left: 6px solid #F8F8F8;
}
.list-menu-account-shop li.active{
  border-left: 4px solid black;
}
.list-menu-account-shop li span{
  font-size: 20px;
  width: 25px;
}
.list-menu-account-shop li:hover{
  cursor: pointer;
  background-color: #FFF;
}